@if (Display())
{
    <Table>
        @foreach (var obj in _seasonTableModels.Select((model, i) => new
        {
            Position = i + 1,
            Model = model
        }))
        {
            <TableRow>
                <TableRowCell ColumnSpan="@(_seasonTableRounds + 1)">
                    <strong>@obj.Position. @obj.Model.Player</strong>
                </TableRowCell>
            </TableRow>
            <TableRow>
                @for (var i = 0; i < _seasonTableRounds; i++)
                {
                    var index = i;
                    <TableRowCell Style="border-top: none">@obj.Model.GetScore(index)</TableRowCell>
                }
                <TableRowCell Style="border-top: none">
                    <strong>@obj.Model.Scores.Sum()</strong>
                </TableRowCell>
            </TableRow>
        }
    </Table>
}

@code {

    [CascadingParameter] public CascadingCourseStatistics? CascadingCourseStatistics { get; set; }

    [CascadingParameter] public CascadingCourse? CascadingCourse { get; set; }

    [Parameter] public string? Season { get; set; }

    private IEnumerable<SeasonTableModel> _seasonTableModels = [];
    private int _seasonTableRounds = 6;

    protected override void OnParametersSet()
    {
        if (CascadingCourseStatistics?.CourseStatisticResponse == null)
            return;

        if (string.IsNullOrEmpty(Season))
            return;
        
        if (CascadingCourse?.Course is null)
            return;
        
        _seasonTableRounds = CascadingCourse.Course.SeasonTableRounds;

        RenderSeasonTable();
    }

    private void RenderSeasonTable()
    {
        var seasonTableRounds = CascadingCourse?.Course?.SeasonTableRounds ?? 6;
        
        _seasonTableModels = CascadingCourseStatistics?.CourseStatisticResponse?.Seasons?
            .FirstOrDefault(x => x.Season == Season)?
            .Players.Select(kvp => new SeasonTableModel(kvp.Key, kvp.Value.OrderBy(x => x)
                .Take(seasonTableRounds)
                .ToArray()))
            .OrderByDescending(m => m.Scores.Length)
            .ThenBy(m => m.Scores.Sum()) 
                             ?? Enumerable.Empty<SeasonTableModel>();
    }

    private bool Display()
    {
        return CascadingCourseStatistics != null && _seasonTableModels.Any() && !CascadingCourseStatistics.Loading;
    }

    private class SeasonTableModel(string player, int[] scores)
    {
        public string Player { get; } = player;
        public int[] Scores { get; } = scores;

        public string GetScore(int i)
        {
            return Scores.Length <= i ? "-" : Scores[i].ToString();
        }
    }

}